@keyframes slideright {
    from {
        background-position: 70000%;
    }
    to {
        background-position: 0%;
    }
}

#game-view{
    position: absolute;
    background-image: url("assests/t-rex-background.png");
    height: 200px;
    width: 100%;
    animation: slideright 600s infinite linear;
    bottom: 600px;
}

.dino {
    background-image: url("assests/t-rex.png");
    height: 60px;
    width: 60px;
    position: absolute;
    bottom: 0;
    left :15px
}

.obstacle {
    background-image: url('assests/cacti.png');
    width: 60px;
    height: 60px;
    position: absolute;
    bottom: 0;
}

body {
    background-color: rgb(250, 250, 250);
}