@keyframes slideright{
    from{
        background-position: 70000%;
    }
    to{
        background-position: 0%;
    }
}


#game-view{
    position:absolute; 
    background-image: url("assests/t-rex-background.png");
    height:200px;
    width:100%;
    animation: slideright  600s linear infinite;
    bottom:5px;
}
.dino{
    background-image: url("assests/t-rex.png");
    height:60px;
    width:60px;
    position : absolute;
    bottom:0;
}
